body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: white;
	font-size: 100%
}
header h1 {
	font-size: 2.5em;
	font-family: "Courier New";
	font-weight: bold;
	margin: 0;
	padding: 15px 10px;
}
header nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #111;
	overflow: hidden;
	font-size: 1.5em;
	font-family: "Courier New";
}
header nav li { 
	float: left; 
} 
header nav li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}
header nav li a:hover{
	background-color: #333;
}

main {
	margin: 0;
	overflow: hidden;
	/*height: 300px;*/
}

main .ContenedorImagen {
	position: relative;
	display: inline-block;
	float: left;
	width: 33.33%;
	height: 300px;
}
main .ContenedorImagen img {
	width: 100%;
	height: 100%;
	line-height: 0;
}
main .ContenedorImagen a {
	text-decoration: none;
	display: block;
	color: white;
	font-size: 1.5em;
}
main .TextoImagen {
	width: 100%;
	font-family: "Courier New";
	/*border-style: solid;*/
	background-color: black;
	opacity: 0.65;
	position: absolute;
	bottom: 0;
	left: 0;
}
main .TextoImagen:hover {
	opacity: 1.0;
}


section {
	padding: 40px 0px 0px 0px;
	width: 80%;
	margin: 0 auto;
	position: relative;
}
section header {
	background-color: black
}
section header a {
	display: block;
	width: 100%;
	color: white;
	font-family: "Courier New";
	font-size: 1.5em;
	text-decoration: none;
}
section header:hover {
	font-weight: bold;
}


.TextoImagen a {
	text-decoration: none;
	width: 100%;
	font-family: "Courier New";
	font-size: 1.2em;
	color: white;
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
}
.TextoImagen a:hover , section .ContenedorImagen:hover {
	font-weight: bold;
}


#SeccionNoticias {overflow: hidden;}
#SeccionNoticias img {
	width: 100%;
	padding: 10px 0px 0px 0px;
	display: block;
}


#SeccionCriticas {overflow: hidden;}
#SeccionCriticas .ContenedorImagen {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	width: 49.5%;
}
#SeccionCriticas .ContenedorImagen#Izquierda {float: left;}
#SeccionCriticas .ContenedorImagen#Derecha {float: right;}
#SeccionCriticas img {
	width: 100%;
	height: 100%;
}

#SeccionTops {overflow: hidden;}
#SeccionTops .ContenedorImagen {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	width: 32.66%;
}
#SeccionTops .ContenedorImagen#Izquierda {float: left; margin-right: 1%;}
#SeccionTops .ContenedorImagen#Derecha {float:right;}
#SeccionTops img {
	width: 100%;
	height: 100%;
}

#SeccionTrailers {
	overflow: hidden;
}
#SeccionTrailers .ContenedorImagen {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	width: 32.66%;
	height: 250px;
}
#SeccionTrailers .ContenedorImagen#Izquierda {float: left; margin-right: 1%;}
#SeccionTrailers .ContenedorImagen#Derecha {float: right;}
#SeccionTrailers iframe {
	width: 100%;
	height: 100%;
	border-style: none;
}

#SeccionTutoriales {
	overflow: hidden;
}
#SeccionTutoriales .ContenedorImagen {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	width: 49.5%;
}
#SeccionTutoriales .ContenedorImagen#Izquierda {float: left;}
#SeccionTutoriales .ContenedorImagen#Derecha {float: right;}
#SeccionTutoriales img {
	width: 100%;
	height: 100%;
}
footer {
	margin-top: 40px;
}
footer h1 {
	font-size: 2.5em;
	font-family: "Courier New";
	font-weight: bold;
	text-align: right;
	background-color: black;
	color: white;
	padding: 15px 10px;
	margin: 0;
}
footer h2 {
	font-size: 1.5em;
	font-family: "Courier New";
	font-weight: bold;
	text-align: center;
	padding: 10px;
	margin: 0;
}
footer img {
	height: 20px;
	vertical-align: middle;
}