body {
	margin: 0;
	padding: 0;
	width: 100%;
}
header h1 {
	font-size: 2.5em;
	font-family: courier;
	font-weight: normal;
	margin: 0;
	padding: 15px 10px;
}
header nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #111;
	overflow: hidden;
	font-size: 1.5em;
	font-family: courier;
}
header nav li { 
	float: left; 
} 
header nav li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}
header nav li a:hover{
	background-color: #333;
}

main {
	margin: 0;
	height: 300px;
}

main .ContenedorImagen {
	position: relative;
	display: inline-block;
	float: left;
	width: 33.33%;
	height: 300px;
}
main .ContenedorImagen img {
	width: 100%;
	height: 100%;
	line-height: 0;
}
main .ContenedorImagen a {
	text-decoration: none;
	display: block;
	color: white;
	font-size: 1.4em;
}
main .TextoImagen {
	width: 100%;
	font-family: Courier;
	/*border-style: solid;*/
	background-color: black;
	opacity: 0.65;
	position: absolute;
	bottom: 0;
	left: 0;
}
main .TextoImagen:hover {
	opacity: 1.0;
}

section {
	padding: 40px 0px 0px 0px;
	width: 80%;
	margin: 0 auto;
	position: relative;
}
section header {
	background-color: black
}
section header a {
	width: 100%;
	color: white;
	font-family: Courier;
	font-size: x-large;
	text-decoration: none;
}
section header:hover {
	font-weight: bold;
}
.TextoImagen a {
	text-decoration: none;
	width: 100%;
	font-family: Courier;
	color: white;
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
}
.TextoImagen a:hover {
	font-weight: bold;
}

#SeccionNoticias img {
	width: 100%;
	padding: 10px 0px 0px 0px;
	display: block;
}
#SeccionCriticas .ContenedorImagen {
	position: relative;
	padding: 10px 0px 0px 0px;
	float: left;
	width: 50%;
}
#SeccionCriticas img {
	width: 100%;
	height: 350px;
	display: block;
}

